.Banner{
    margin-top: 20px;
}
.Banner__content{
    display: flex;
    justify-content: center;
}
.Banner__content-grid{
    display: grid;
    grid-template-columns: 1040px 10%;
    grid-template-rows: 1fr 1fr;
    width: 1540px;
}
.Banner__box:nth-child(1){
    background-color: rgba(0, 76, 147, 1);
    grid-column: 1;
    grid-row: 1 /span 2;
    display: flex;
    align-items: center;
    gap: 80px;
}
.Banner__box-text h1{
    font-size: 36px;
    width: 263px;
    color: #fff;
    font-weight: 800;
}
.Banner__box-text p{
    margin-top: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
}
.Banner__box-text button{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 24px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.Banner__box:nth-child(2){
    background-color: rgba(16, 97, 171, 1);
    grid-column: 2/span 2;
    grid-row: 1 /span 1;
    position: relative;
}
.Banner__box-aitem{
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.Banner__box-title{
    font-size: 24px;
    width: 176px;
    color: #fff;
    font-weight: 600;
}
.Banner__box-desc{
    font-size: 12px;
    margin-top: 15px;
    color: #fff;
}
.Banner__box:nth-child(3){
    background-color: rgba(59, 185, 184, 1);
    grid-column:  2 /span 2;
    grid-row: 2 /span 1;
    position: relative;
}
@media(max-width:1570px){
    .Banner__box:nth-child(2){
        display: none;
    }
    .Banner__box:nth-child(3){
        display: none;
    }
    .Banner__content-grid{
        grid-template-columns: 100%; 
    }
}
@media(max-width:1100px){
    .Banner__box:nth-child(1){
        gap: 25px;
    }
    .Banner__box-text h1{
        font-size: 31px;
    }
    .Banner__box-text p {
        font-size: 20px;
    }
    .Banner__box img{
        width: 460px;
    }
}
@media(max-width:970px){
    .Banner__box img{
        width: 60%;
    }
    .Banner__box:nth-child(1){
        gap: 15px;
    }
}
@media(max-width:782px){
    .Banner__box-text h1{
        width: auto;
    }
    .Banner__box-text button {
        margin-top: 15px;
        padding: 10px 15px;
    }
    .Banner__box-text p {
        margin-top: 10px;
    }
    .Banner__box:nth-child(1){
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .Banner__box-text{
        padding:  10px 10px 20px 10px;
    }
}